/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    nav .navbar-brand{
        padding-left: 1rem !important;
    }
    nav ul li a:hover{
        background-color: var(--secondary-clr);
        color: var(--white-clr) !important;
    }
    .menu-section .menu-card .card-content{
        padding-left: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .menu-section .card-content img{
        width: 75px;
        height: 75px;       
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}