@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Prosto+One&family=Sevillana&family=Seymour+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-clr: #3a4452;
    --primary-btn-clr: rgb(44, 2, 2);
    --secondary-clr: rgba(242,152,41,255);
    --grey-clr: rgba(80, 74, 74, 0.801);
    --white-clr: rgb(255, 255, 255);
    --text-clr:#999;    
    --black-clr:#000;
    --background-clr: rgb(35, 34, 36);
    --primary-font: 'Merriweather', serif;    
    --secondary-font: 'Merriweather', serif;    
    --heading-font:  'Style Script', cursive;
    --heading-2-font: 'Sevillana', cursive;
    --border-primary: 1px solid rgba(53,241,211,255);
    --card-background: rgba(33,37,41,255);
    --img-background: #212529;
    --blue-clr:  rgba(53,241,211,255);
    --card-shadow: 5px 4px 2px var(--text-clr);
    --card-hvr-shadow: 6px 15px 15px var(--text-clr);

}
/* Global-variables */
a, a:hover{
    text-decoration: none !important;
}
.bttn{
    padding: 10px 20px;
    background-color: var(--secondary-clr);
    color: var(--primary-btn-clr);
    border: none;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 10px 10px 10px var(--primary-btn-clr);
    transition: all 0.5s;
}
.bttn:hover{
    background-color: var(--secondary-clr);
    color: var(--primary-btn-clr);
    font-weight: 500;
    transform: translateY(-5px);
}
.bttn2{
    padding: 10px 20px;
    background-color: var(--secondary-clr);
    color: var(--primary-btn-clr);
    border: none;
    border-radius: 15px;
    font-weight: 600;
    transition: all 0.5s;
}
.bttn2:hover{
    background-color: var(--secondary-clr);
    color: var(--primary-btn-clr);
    font-weight: 500;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.h1{
    font-family: var(--heading-font) !important;
    font-weight: 900 !important;
    color: var(--white-clr) !important;
}
.h2{
    color: var(--white-clr) !important;
    font-family: var(--heading-font) !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
}
.h3{
    color: var(--white-clr) !important;
    font-family: var(--heading-font) !important;
}
.h4{
    font-family: var(--heading-2-font) !important;
    
}
p{
    font-family: var(--secondary-font) !important;
    font-size: 1rem !important;
    font-weight: 400;
    color: var(--white-clr);

}
.small-heading{
    font-family: var(--heading-2-font);
    font-size: 2.5rem;
    color: var(--secondary-clr);
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
} 